c file = ../../../xBenchm/graph/tiny/i-5-06-wiki-C.edge  
c created by translate_graph2edge_complement on  Wed Jul 30 21:38:11 EDT 2014 
c as a graph complement from file 
c ../../../xBenchm/graph/tiny/i-5-06-wiki.edge 
c       input file: vertices=5, edges=6 
c  complement file: vertices=5, edges=4 
c edge count check: 10 ==  6 + 4 
c
p edge 5 4 
e 1 4 
e 1 5 
e 2 4 
e 3 5 
