c file = ../../../xBenchm/graph/tiny/i-6-08.edge  
c created by translate_graph2edge_complement on  Wed Jul 30 21:30:24 EDT 2014 
c as a graph complement from file 
c ../../../xBenchm/graph/tiny/i-6-08-C.edge 
c       input file: vertices=6, edges=7 
c  complement file: vertices=6, edges=8 
c edge count check: 15 ==  7 + 8 
c
p edge 6 8 
e 1 2 
e 1 3 
e 2 4 
e 2 5 
e 2 6 
e 3 4 
e 4 6 
e 5 6 
