c file = translate/i-6-08-ex2-C.edge  
c created by translate.edge2edgeFile_complement on  Wed Jul 22 10:17:09 EDT 2015 
c as a graph complement from file 
c translate/i-6-08-ex2.edge 
c       input file: vertices=6, edges=8 
c  complement file: vertices=6, edges=7 
c edge count check: 15 ==  8 + 7 
c p edge 6 7
e 1 4
e 1 5
e 1 6
e 2 3
e 3 5
e 3 6
e 4 5