c file = translate/i-6-08-ex2_ISO-2001/i-6-08-ex2-1.edge  
c vertexPermutation = 4,3,2,5,1,6 
c an isomorph file under the seedInit=2001 with  serial number=1 
c generated on Wed Jul 15 13:40:31 EDT 2015 
c by procedure translate.edge2isomorph 
c density = 0.5333333333333333  
c 
p edge 6 8 
e 3 6 
e 4 2 
e 5 6 
e 3 5 
e 1 6 
e 2 5 
e 3 1 
e 4 3 
