c file = translate/i-6-08-ex2_ISO-2001/i-6-08-ex2-4.edge  
c vertexPermutation = 3,5,6,2,1,4 
c an isomorph file under the seedInit=2001 with  serial number=4 
c generated on Wed Jul 15 13:40:31 EDT 2015 
c by procedure translate.edge2isomorph 
c density = 0.5333333333333333  
c 
p edge 6 8 
e 5 4 
e 3 6 
e 2 4 
e 5 2 
e 1 4 
e 6 2 
e 5 1 
e 3 5 
