c i-3-04-parity-03.cnf
c cnf clauses for the 3-input par function
c
c (xWork) 216 % B.cover.f.exh  ../xBenchm/coverBinate/tiny/i-3-04-parity-03.cnf
c 
c Hasse rank order of all solutions (feasible and unfeasible) 
c .. almost ready for plotting the Hasse graph 
c .. coord;value,isFeasible,cntNotCovered
c solutionAry(0) = {000;40,0,4}
c solutionAry(1) = {100;11,0,1} {010;11,0,1} {001;11,0,1}
c solutionAry(2) = {110;2,1,0} {101;2,1,0} {011;2,1,0}
c solutionAry(3) = {111;13,0,1}
c 
c # Output from B.cover.f.exh: 
c # Exhaustive enumeration of instance ../xBenchm/coverBinate/tiny/i-3-04-parity-03.cnf 
c # .. completed on Sat Oct 18 13:51:04 EDT 2014 
c # table below can be read in R 
c rank	cntCoord	cntFeasible	probOfFeasible
c 0	1	0 	   0
c 1	3	0 	   0
c 2	3	3 	   1
c 3	1	0 	   0
c # there are 3 valueBest solutions
c # 011;2
c # 101;2
c # 110;2
c # 
c #	nDim	cntCoordLmt	runtimeCoord	runtimeProbe	hostID 
c #	3	8	0.00023500000000000002	0.000297	brglez@triangle-Darwin-13.4.0
c
p cnf 3 4
 1  2 -3 0
 1 -2  3 0
-1  2  3 0
-1 -2 -3 0


