c file = ../../../xBenchm/graph/tiny/i-4-05-wheel-C.edge  
c created by translate_graph2edge_complement on  Wed Jul 30 21:38:11 EDT 2014 
c as a graph complement from file 
c ../../../xBenchm/graph/tiny/i-4-05-wheel.edge 
c       input file: vertices=4, edges=5 
c  complement file: vertices=4, edges=1 
c edge count check: 6 ==  5 + 1 
c
p edge 4 1 
e 2 4 
